/.bash_history
/.bash_logout
/.bashrc
/.cache
/.conda
/.ipynb_checkpoints
/.ipython
/.jupyter
/.local
/.motd_shown
/.profile
/.python_history
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/.wget-hsts
/Miniconda3-latest-Linux-x86_64.sh
/miniconda3